@font-face {
    font-family: "IBM Plex Mono";
    src: url(/assets/ibm-plex-mono.woff2), url(/assets/ibm-plex-mono.woff);
}

@font-face {
    font-family: "Young Serif";
    src: url(/assets/youngserif.woff2), url(/assets/youngserif.woff);

}

body {
    font-family: "IBM Plex Mono";
    font-size: 16px; 
    line-height: 1.6;
    
    background-color: #ffffff;
    color: #2a2a2a; 

}

nav {
    position: fixed;
    top: 0; 
    left: -240px; 
    width: 240px; 
    height: 100vh;     
    background-color: #00b98d;
    color: #ffffff; 


    font-family: "Young Serif";
    font-size: 24px; 

    display: flex;
    flex-direction: column;
    justify-content: center;

    transition: left 0.5s;
    z-index: 2;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 5px 32px 5px 32px;
}

nav.open {
    left: 0;
}


main {
  position: relative; 
  z-index: 1; 
  background-color: #ffffff;
  min-height: 100vh;
  transition: transform 0.5s;

}

main.open {
    /* Moves the main section to the right */
    transform: translate(240px, 0);
}



/* Challenge: Play around with the position of the menu. How do you get things on the right side */
/* Challenge: How do you get the menu on top? */
/* Challenge: Open both the ain and menu at same time */


